<h1 mat-dialog-title>Alterar a função do membro: {{data.nome}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Função: </mat-label>
        <mat-select [(ngModel)]="data.tipoParticipantePastoral" placeholder="Função">
            <mat-option *ngFor="let funcao of data.funcoes" [value]="funcao">
              {{funcao}}
            </mat-option>
          </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [ngStyle]="{'background':'green'}" [mat-dialog-close]="data" cdkFocusInitial>
        Alterar
    </button>
    <button mat-button [mat-dialog-close]="false">
        Cancelar
    </button>
</div>
