<mat-toolbar>
    <span class="space">Turmas do curso {{nome_curso}}</span>
  </mat-toolbar>
    <div fxLayout="row">
        <button mat-raised-button color="warn" 
          ngClass.xs="mat-icon-button"
          routerLink="/admin/cadastrarTurma"
          matTooltip="Adicionar Turma">
          <mat-icon>library_add</mat-icon>
          <span fxHide.xs>
            Adicionar Turma
          </span>
        </button>
    </div> 
  
  <mat-table #table [dataSource]="dataSource" 
    matSort (matSortChange)="ordenar($event)" >
       <ng-container matColumnDef="descricao" >
        <mat-header-cell *matHeaderCellDef mat-sort-header >
            Descricao
        </mat-header-cell>
        <mat-cell *matCellDef="let turma">
            {{ turma.descricao }}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="dataInicio"   >
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide  fxShow.gt-sm>
            Data de Início
        </mat-header-cell>
        <mat-cell *matCellDef="let turma"  fxHide  fxShow.gt-sm >
            {{ turma.dataInicio}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="dataFim" >
        <mat-header-cell *matHeaderCellDef fxHide  fxShow.gt-sm>
            Data Fim
        </mat-header-cell>
        <mat-cell *matCellDef="let turma" fxHide  fxShow.gt-sm>
            {{ turma.dataFim }}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="acao" >
        <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
        <mat-cell *matCellDef="let curso">
          <a routerLink="{{ '/admin/cadastrarCurso/' + curso.id }}">
              <mat-icon [ngStyle]="{'color':'green'}" matTooltip="Editar curso">edit</mat-icon></a>
          <a routerLink="{{ '/admin/listarMembros/' + curso.id +'/'+ curso.nome}}">
                <mat-icon matTooltip="Listar Membros da curso">list</mat-icon></a>    
          <a (click)="removerCurso(curso)" 
            style="cursor: pointer" ><mat-icon [ngStyle]="{'color':'red'}" matTooltip="Remover curso">delete_forever</mat-icon></a>
        </mat-cell>
      </ng-container>
  
        <mat-header-row 
          *matHeaderRowDef="colunas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colunas;"></mat-row>
  </mat-table>
  
  
  <mat-paginator 
    [length]="totalTurmas"
    [pageSize]="25"
    (page)="paginar($event)">
  </mat-paginator>
