.sidenav-container {
  height: 100% !important;
}

.sidenav {
  width: 200px !important;
}

.sidenav .mat-toolbar {
  background: inherit !important;
}

.mat-toolbar.mat-primary {
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
}

.companyName{
  font-size: 150% !important;
}
div {
  overflow: inherit !important;
}
a{
  text-decoration: none !important;
  font-size: 110% !important;
  white-space: normal !important;
}
button{
  font-size: 110% !important;
  min-width: min-content !important;
}
.example-icon {
  padding: 0 14px !important;
}

.example-spacer {
  flex: 1 1 auto !important;
}
.mat-sidenav-content{
    font-size: 200% !important;
    text-align: center !important;
}



.toolbar-icon {
  padding: 0 14px !important;
}

.toolbar-spacer {
  flex: 1 1 auto !important;
}
