label {
	display: block;
    float: none;
}

/*/Define um tamanho, impedindo que fiquem desalinhados*/

label, input {
	width:120px;
    margin: 3px !important;
    position: relative;
}

/* AUMENTA A largura do INPUT*/
input {
    width:200px;
}

form {
    min-width: 150px;
    max-width: 500px;
        width: 100%;
 }
 ::ng-deep .mat-autocomplete-panel.extended {
    max-height: 528px;
  }
 